In [51]:
import numpy as np
import pandas as pd

In [52]:
matches = pd.read_csv('matches.csv')
delivery = pd.read_csv('deliveries.csv')

In [53]:
matches.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [54]:
matches.shape

(1095, 20)

In [55]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [56]:
delivery.shape

(260920, 17)

In [57]:
total_score = delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [58]:
total_score

      match_id  inning  total_runs
0       335982       1         222
1       335982       2          82
2       335983       1         240
3       335983       2         207
4       335984       1         129
...        ...     ...         ...
2212   1426310       2         174
2213   1426311       1         175
2214   1426311       2         139
2215   1426312       1         113
2216   1426312       2         114

[2217 rows x 3 columns]

In [59]:
total_score_df = total_score[total_score['inning']==1]

In [60]:
total_score_df

      match_id  inning  total_runs
0       335982       1         222
2       335983       1         240
4       335984       1         129
6       335985       1         165
8       335986       1         110
...        ...     ...         ...
2207   1426307       1         214
2209   1426309       1         159
2211   1426310       1         172
2213   1426311       1         175
2215   1426312       1         113

[1095 rows x 3 columns]

In [61]:
match_df = matches.merge(total_score_df[['match_id','total_runs']],left_on='id', right_on='match_id')

In [62]:
match_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,...,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426307,214
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,159
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,...,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,1426310,172
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,175
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,113

In [63]:
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [64]:
teams = [
    'Royal Challengers Bengaluru',
    'Kolkata Knight Riders',
    'Gujarat Titans',
    'Lucknow Super Giants',
    'Delhi Capitals',
    'Mumbai Indians',
    'Rajasthan Royals',
    'Punjab Kings',
    'Chennai Super Kings',
    'Sunrisers Hyderabad'
]

In [65]:
match_df['team1'] = match_df['team1'].str.replace('Kings XI Punjab','Punjab Kings')
match_df['team2'] = match_df['team2'].str.replace('Kings XI Punjab','Punjab Kings')

match_df['team1'] = match_df['team1'].str.replace('Royal Challengers Bangalore','Royal Challengers Bengaluru')
match_df['team2'] = match_df['team2'].str.replace('Royal Challengers Bangalore','Royal Challengers Bengaluru')

match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [66]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [67]:
match_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bengaluru,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,...,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426307,214
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit,1426309,159
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,...,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar,1426310,172
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,...,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma,1426311,175
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon,1426312,113

In [68]:
match_df.shape

(980, 22)

In [69]:
match_df[['match_id','city','winner','total_runs','target_runs']]

,match_id,city,winner,total_runs,target_runs
0,335982,Bangalore,Kolkata Knight Riders,222,223.0
1,335983,Chandigarh,Chennai Super Kings,240,241.0
2,335984,Delhi,Delhi Daredevils,129,130.0
3,335985,Mumbai,Royal Challengers Bangalore,165,166.0
4,335986,Kolkata,Kolkata Knight Riders,110,111.0
...,...,...,...,...,...
1090,1426307,Hyderabad,Sunrisers Hyderabad,214,215.0
1091,1426309,Ahmedabad,Kolkata Knight Riders,159,160.0
1092,1426310,Ahmedabad,Rajasthan Royals,172,173.0
1093,1426311,Chennai,Sunrisers Hyderabad,175,176.0
1094,1426312,Chennai,Kolkata Knight Riders,113,114.0

In [70]:
delivery_df = match_df.merge(delivery, on = 'match_id')

In [71]:
delivery_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233897,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233898,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233899,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
233900,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [72]:
delivery_df.shape

(233901, 38)

In [73]:
delivery_df = delivery_df[delivery_df['inning'] == 2]

In [74]:
delivery_df.shape

(112805, 38)

In [75]:
delivery_df['total_runs_y'] = pd.to_numeric(delivery_df['total_runs_y'], errors='coerce')

C:\Users\amjad\AppData\Local\Temp\ipykernel_40104\4128596646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['total_runs_y'] = pd.to_numeric(delivery_df['total_runs_y'], errors='coerce')

In [76]:
delivery_df['current_score'] = delivery_df.groupby('match_id')['total_runs_y'].cumsum()

C:\Users\amjad\AppData\Local\Temp\ipykernel_40104\1894988650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['current_score'] = delivery_df.groupby('match_id')['total_runs_y'].cumsum()

In [77]:
delivery_df['runs_left'] = delivery_df['target_runs'] - delivery_df['current_score']

C:\Users\amjad\AppData\Local\Temp\ipykernel_40104\3456364349.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['runs_left'] = delivery_df['target_runs'] - delivery_df['current_score']

In [78]:
delivery_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left
124,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,1,0,1,NaN,0,NaN,NaN,NaN,1,222.0
125,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,1,1,wides,0,NaN,NaN,NaN,2,221.0
126,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,0,NaN,0,NaN,NaN,NaN,2,221.0
127,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,1,0,1,NaN,0,NaN,NaN,NaN,3,220.0
128,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,1,0,1,NaN,0,NaN,NaN,NaN,4,219.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,0,1,NaN,0,NaN,NaN,NaN,110,4.0
233897,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,0,1,NaN,0,NaN,NaN,NaN,111,3.0
233898,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,0,1,NaN,0,NaN,NaN,NaN,112,2.0
233899,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,0,1,NaN,0,NaN,NaN,NaN,113,1.0
233900,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,1,0,1,NaN,0,NaN,NaN,NaN,114,0.0

In [79]:
delivery_df['valid_ball'] = ~delivery_df['extras_type'].isin(['wides', 'no-ball'])

delivery_df['valid_ball_count'] = delivery_df.groupby('match_id')['valid_ball'].cumsum()

total_balls = 120
delivery_df['balls_left'] = total_balls - delivery_df['valid_ball_count']

C:\Users\amjad\AppData\Local\Temp\ipykernel_40104\1599462593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['valid_ball'] = ~delivery_df['extras_type'].isin(['wides', 'no-ball'])
C:\Users\amjad\AppData\Local\Temp\ipykernel_40104\1599462593.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['valid_ball_count'] = delivery_df.groupby('match_id')['valid_ball'].cumsum()
C:\Users\amjad\AppData\Local\Temp\ipykernel_40104\1599462593.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['balls_left'] = total_balls - delivery_df['valid_ball_count']

In [80]:
delivery_df.head(20)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,valid_ball,valid_ball_count,balls_left
124,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,1,222.0,True,1,119
125,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,wides,0,NaN,NaN,NaN,2,221.0,False,1,119
126,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,2,221.0,True,2,118
127,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,3,220.0,True,3,117
128,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,4,219.0,True,4,116
129,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,4,219.0,True,5,115
130,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,4,219.0,True,6,114
131,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,1,R Dravid,bowled,NaN,4,219.0,True,7,113
132,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,4,219.0,True,8,112
133,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,legbyes,0,NaN,NaN,NaN,8,215.0,True,9,111
134,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,9,214.0,True,10,110
135,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,9,214.0,True,11,109
136,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,9,214.0,True,12,108
137,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,9,214.0,True,13,107
138,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,1,V Kohli,bowled,NaN,9,214.0,True,14,106
139,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,10,213.0,True,15,105
140,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,10,213.0,True,16,104
141,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,wides,0,NaN,NaN,NaN,11,212.0,False,16,104
142,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,11,212.0,True,17,103
143,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,0,NaN,NaN,NaN,12,211.0,True,18,102

In [81]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
wickets = delivery_df.groupby('match_id')['player_dismissed'].cumsum().values
delivery_df['wickets_left'] = 10 - wickets

C:\Users\amjad\AppData\Local\Temp\ipykernel_40104\4254827463.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
C:\Users\amjad\AppData\Local\Temp\ipykernel_40104\4254827463.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")
C:\Users\amjad\AppData\Local\Temp\ipykernel_40104\4254827463.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
C:\Users\amjad\AppData\Local\Temp\ipykernel_40104\4254827463.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['wickets_left'] = 10 - wickets

In [82]:
delivery_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,valid_ball,valid_ball_count,balls_left,wickets_left
124,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,NaN,NaN,1,222.0,True,1,119,10
125,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,NaN,NaN,2,221.0,False,1,119,10
126,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,NaN,NaN,2,221.0,True,2,118,10
127,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,NaN,NaN,3,220.0,True,3,117,10
128,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,NaN,NaN,4,219.0,True,4,116,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,0,NaN,NaN,110,4.0,True,59,61,8
233897,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,0,NaN,NaN,111,3.0,True,60,60,8
233898,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,0,NaN,NaN,112,2.0,True,61,59,8
233899,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,0,NaN,NaN,113,1.0,True,62,58,8
233900,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,0,NaN,NaN,114,0.0,True,63,57,8

In [83]:
delivery_df.tail()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,valid_ball,valid_ball_count,balls_left,wickets_left
233896,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,0,NaN,NaN,110,4.0,True,59,61,8
233897,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,0,NaN,NaN,111,3.0,True,60,60,8
233898,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,0,NaN,NaN,112,2.0,True,61,59,8
233899,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,0,NaN,NaN,113,1.0,True,62,58,8
233900,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,0,NaN,NaN,114,0.0,True,63,57,8

In [84]:
delivery_df['crr'] = (delivery_df['current_score']*6) / (120 - delivery_df['balls_left'])

C:\Users\amjad\AppData\Local\Temp\ipykernel_40104\2136895662.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['crr'] = (delivery_df['current_score']*6) / (120 - delivery_df['balls_left'])

In [85]:
delivery_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,valid_ball,valid_ball_count,balls_left,wickets_left,crr
124,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,NaN,NaN,1,222.0,True,1,119,10,6.000000
125,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,NaN,NaN,2,221.0,False,1,119,10,12.000000
126,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,NaN,NaN,2,221.0,True,2,118,10,6.000000
127,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,NaN,NaN,3,220.0,True,3,117,10,6.000000
128,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,NaN,NaN,4,219.0,True,4,116,10,6.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,NaN,NaN,110,4.0,True,59,61,8,11.186441
233897,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,NaN,NaN,111,3.0,True,60,60,8,11.100000
233898,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,NaN,NaN,112,2.0,True,61,59,8,11.016393
233899,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,NaN,NaN,113,1.0,True,62,58,8,10.935484
233900,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,0,NaN,NaN,114,0.0,True,63,57,8,10.857143

In [86]:
delivery_df['rrr'] = (delivery_df['runs_left']*6) / delivery_df['balls_left']

C:\Users\amjad\AppData\Local\Temp\ipykernel_40104\1270937461.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['rrr'] = (delivery_df['runs_left']*6) / delivery_df['balls_left']

In [87]:
delivery_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,dismissal_kind,fielder,current_score,runs_left,valid_ball,valid_ball_count,balls_left,wickets_left,crr,rrr
124,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,1,222.0,True,1,119,10,6.000000,11.193277
125,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,2,221.0,False,1,119,10,12.000000,11.142857
126,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,2,221.0,True,2,118,10,6.000000,11.237288
127,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,3,220.0,True,3,117,10,6.000000,11.282051
128,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,4,219.0,True,4,116,10,6.000000,11.327586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,110,4.0,True,59,61,8,11.186441,0.393443
233897,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,111,3.0,True,60,60,8,11.100000,0.300000
233898,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,112,2.0,True,61,59,8,11.016393,0.203390
233899,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,113,1.0,True,62,58,8,10.935484,0.103448
233900,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,114,0.0,True,63,57,8,10.857143,0.000000

In [88]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [89]:
delivery_df['result'] = delivery_df.apply(result, axis=1)

C:\Users\amjad\AppData\Local\Temp\ipykernel_40104\343102418.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['result'] = delivery_df.apply(result, axis=1)

In [90]:
delivery_df

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,dismissal_kind,fielder,current_score,runs_left,valid_ball,valid_ball_count,balls_left,wickets_left,crr,rrr
124,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,1,222.0,True,1,119,10,6.000000,11.193277
125,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,2,221.0,False,1,119,10,12.000000,11.142857
126,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,2,221.0,True,2,118,10,6.000000,11.237288
127,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,3,220.0,True,3,117,10,6.000000,11.282051
128,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,NaN,NaN,4,219.0,True,4,116,10,6.000000,11.327586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233896,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,110,4.0,True,59,61,8,11.186441,0.393443
233897,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,111,3.0,True,60,60,8,11.100000,0.300000
233898,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,112,2.0,True,61,59,8,11.016393,0.203390
233899,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,113,1.0,True,62,58,8,10.935484,0.103448
233900,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,...,NaN,NaN,114,0.0,True,63,57,8,10.857143,0.000000

In [91]:
final_df = delivery_df[['batting_team','bowling_team', 'city', 'runs_left', 'balls_left', 'wickets_left','target_runs', 'crr', 'rrr', 'result']]

In [92]:
final_df

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222.0,119,10,223.0,6.000000,11.193277,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221.0,119,10,223.0,12.000000,11.142857,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221.0,118,10,223.0,6.000000,11.237288,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220.0,117,10,223.0,6.000000,11.282051,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219.0,116,10,223.0,6.000000,11.327586,0
...,...,...,...,...,...,...,...,...,...,...
233896,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,4.0,61,8,114.0,11.186441,0.393443,1
233897,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3.0,60,8,114.0,11.100000,0.300000,1
233898,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2.0,59,8,114.0,11.016393,0.203390,1
233899,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1.0,58,8,114.0,10.935484,0.103448,1
233900,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0.0,57,8,114.0,10.857143,0.000000,1

In [93]:
final_df.isnull().sum()

batting_team       0
bowling_team       0
city            6012
runs_left          0
balls_left         0
wickets_left       0
target_runs        0
crr                0
rrr               14
result             0
dtype: int64

In [94]:
final_df.describe()

C:\Users\amjad\AppData\Roaming\Python\Python312\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
C:\Users\amjad\AppData\Roaming\Python\Python312\site-packages\numpy\_core\_methods.py:53: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
count,112805.000000,112805.000000,112805.000000,112805.000000,1.128050e+05,1.127910e+05,112805.000000
mean,94.476903,62.679846,7.500740,169.278481,inf,NaN,0.513284
std,51.145277,33.562101,2.172577,31.320127,NaN,NaN,0.499826
min,-10.000000,-4.000000,0.000000,43.000000,0.000000e+00,-inf,0.000000
25%,54.000000,34.000000,6.000000,150.000000,6.418605e+00,7.312500e+00,0.000000
50%,93.000000,63.000000,8.000000,169.000000,7.636364e+00,9.085714e+00,1.000000
75%,133.000000,92.000000,9.000000,189.000000,8.888889e+00,1.134066e+01,1.000000
max,287.000000,120.000000,10.000000,288.000000,inf,inf,1.000000

In [95]:
data = final_df

In [96]:
data

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222.0,119,10,223.0,6.000000,11.193277,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221.0,119,10,223.0,12.000000,11.142857,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221.0,118,10,223.0,6.000000,11.237288,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220.0,117,10,223.0,6.000000,11.282051,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219.0,116,10,223.0,6.000000,11.327586,0
...,...,...,...,...,...,...,...,...,...,...
233896,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,4.0,61,8,114.0,11.186441,0.393443,1
233897,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3.0,60,8,114.0,11.100000,0.300000,1
233898,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2.0,59,8,114.0,11.016393,0.203390,1
233899,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1.0,58,8,114.0,10.935484,0.103448,1
233900,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0.0,57,8,114.0,10.857143,0.000000,1

In [102]:
data1 = data1.replace([np.inf, -np.inf], np.nan)

In [109]:
data2 = final_df

In [110]:
print(type(data2))

<class 'pandas.core.frame.DataFrame'>

In [112]:
final_df.describe()

,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
count,112805.000000,112805.000000,112805.000000,112805.000000,112742.000000,112406.000000,112805.000000
mean,94.476903,62.679846,7.500740,169.278481,7.638098,10.736852,0.513284
std,51.145277,33.562101,2.172577,31.320127,2.406024,15.035763,0.499826
min,-10.000000,-4.000000,0.000000,43.000000,0.000000,-516.000000,0.000000
25%,54.000000,34.000000,6.000000,150.000000,6.416667,7.304348,0.000000
50%,93.000000,63.000000,8.000000,169.000000,7.636364,9.076923,1.000000
75%,133.000000,92.000000,9.000000,189.000000,8.888889,11.307692,1.000000
max,287.000000,120.000000,10.000000,288.000000,54.000000,714.000000,1.000000

In [113]:
final_df.isna().sum()

batting_team       0
bowling_team       0
city            6012
runs_left          0
balls_left         0
wickets_left       0
target_runs        0
crr               63
rrr              399
result             0
dtype: int64

In [121]:
final_df = final_df.dropna()

In [122]:
final_df

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222.0,119,10,223.0,6.000000,11.193277,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221.0,119,10,223.0,12.000000,11.142857,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221.0,118,10,223.0,6.000000,11.237288,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220.0,117,10,223.0,6.000000,11.282051,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219.0,116,10,223.0,6.000000,11.327586,0
...,...,...,...,...,...,...,...,...,...,...
233896,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,4.0,61,8,114.0,11.186441,0.393443,1
233897,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3.0,60,8,114.0,11.100000,0.300000,1
233898,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2.0,59,8,114.0,11.016393,0.203390,1
233899,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1.0,58,8,114.0,10.935484,0.103448,1
233900,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0.0,57,8,114.0,10.857143,0.000000,1

In [123]:
final_df.isna().sum()

batting_team    0
bowling_team    0
city            0
runs_left       0
balls_left      0
wickets_left    0
target_runs     0
crr             0
rrr             0
result          0
dtype: int64

In [124]:
final_df.describe()

,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
count,106354.000000,106354.000000,106354.000000,106354.000000,106354.000000,106354.000000,106354.000000
mean,94.480856,62.904639,7.515984,169.146511,7.659192,10.662946,0.517000
std,50.998557,33.385730,2.153440,31.470322,2.419772,14.818366,0.499713
min,-10.000000,-4.000000,0.000000,43.000000,0.000000,-516.000000,0.000000
25%,54.000000,35.000000,6.000000,149.000000,6.428571,7.309091,0.000000
50%,93.000000,64.000000,8.000000,169.000000,7.653061,9.058824,1.000000
75%,132.000000,92.000000,9.000000,189.000000,8.914286,11.259051,1.000000
max,287.000000,119.000000,10.000000,288.000000,54.000000,714.000000,1.000000

In [125]:
final_df = final_df.sample(final_df.shape[0])

In [126]:
final_df.sample()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,target_runs,crr,rrr,result
212835,Lucknow Super Giants,Sunrisers Hyderabad,Hyderabad,163.0,91,9,183.0,4.137931,10.747253,1

In [127]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, random_state=1)

In [128]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,target_runs,crr,rrr
194051,Sunrisers Hyderabad,Royal Challengers Bangalore,Mumbai,153.0,83,8,193.0,6.486486,11.060241
218184,Royal Challengers Bengaluru,Punjab Kings,Bengaluru,149.0,102,9,177.0,9.333333,8.764706
108631,Chennai Super Kings,Mumbai Indians,Kolkata,72.0,17,4,203.0,7.631068,25.411765
76596,Rajasthan Royals,Kings XI Punjab,Chandigarh,142.0,118,10,146.0,12.000000,7.220339
128512,Delhi Daredevils,Kings XI Punjab,Delhi,138.0,115,10,144.0,7.200000,7.200000
...,...,...,...,...,...,...,...,...,...
179471,Rajasthan Royals,Kolkata Knight Riders,Sharjah,142.0,79,6,172.0,4.390244,10.784810
166845,Royal Challengers Bangalore,Mumbai Indians,Chennai,2.0,1,2,160.0,7.966387,12.000000
124976,Sunrisers Hyderabad,Mumbai Indians,Hyderabad,53.0,53,6,148.0,8.507463,6.000000
147842,Kings XI Punjab,Royal Challengers Bangalore,Bengaluru,102.0,64,8,203.0,10.821429,9.562500
93124,Rajasthan Royals,Kings XI Punjab,Chandigarh,88.0,30,5,180.0,6.133333,17.600000

In [129]:
X_train.describe()

,runs_left,balls_left,wickets_left,target_runs,crr,rrr
count,74447.000000,74447.000000,74447.000000,74447.000000,74447.000000,74447.000000
mean,94.494647,62.934692,7.514460,169.115962,7.662207,10.671952
std,50.910856,33.371981,2.157769,31.351341,2.426750,14.873178
min,-10.000000,-4.000000,0.000000,43.000000,0.000000,-516.000000
25%,54.000000,35.000000,6.000000,149.000000,6.428571,7.293611
50%,93.000000,64.000000,8.000000,169.000000,7.653061,9.054545
75%,132.000000,92.000000,9.000000,189.000000,8.914286,11.257732
max,287.000000,119.000000,10.000000,288.000000,54.000000,588.000000

In [130]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer ([
    ('trf' , OneHotEncoder(sparse_output = False, drop = 'first'),['batting_team','bowling_team','city'])
]
,remainder = 'passthrough')

In [136]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [141]:
pipe = Pipeline(steps = [
    ('strp1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [142]:
pipe.fit(X_train,y_train)

C:\Users\amjad\AppData\Roaming\Python\Python312\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('strp1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [143]:
y_pred = pipe.predict(X_test)

In [162]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8035540790422164

In [161]:
pipe.predict_proba(X_test)[7]

array([0.3943251, 0.6056749])

In [147]:
#this is on no use in final prediction
def match_summary(row):
    print("Batting Team-" + row['batting_team'] + " | Bowling Team-" + row['bowling_team'] + " | Target- " + str(row['total_runs_x']))

In [159]:
#this is on no use in final prediction


def match_progression(x_df, match_id, pipe):
    match = x_df[x_df['match_id'] == match_id]
    match = match[(match['ball'] == 6)]
    
    # Check the columns of the match dataframe
    print("Match Columns:", match.columns)
    
    # Ensure the 'wickets' column exists
    if 'wickets' not in match.columns:
        print("Warning: 'wickets' column is missing. Adding a default value.")
        match['wickets'] = 10  # Add a default value, adjust as necessary
    
    # Now proceed to filter and drop NaNs
    temp_df = match[['batting_team', 'bowling_team', 'city', 'runs_left', 'balls_left',
                     'wickets', 'total_runs_x', 'crr', 'rrr']].dropna()
    
    # Handle missing 'target_runs' or 'wickets_left'
    if 'target_runs' not in temp_df.columns or 'wickets_left' not in temp_df.columns:
        print("Warning: Missing 'target_runs' or 'wickets_left' columns. Adding default values.")
        temp_df['target_runs'] = 200  # Example: default target value
        temp_df['wickets_left'] = 10  # Example: default wickets value
    
    # Check if temp_df is empty
    if temp_df.shape[0] == 0:
        print("No data available for prediction. Exiting.")
        return None, None
    
    # Initialize lists to store results
    results = []
    
    for i in range(temp_df.shape[0]):
        # Extract the current row
        row = temp_df.iloc[i:i+1]
        
        # Predict win/loss probability
        result = pipe.predict_proba(row)
        
        # Calculate probabilities
        lose_prob = np.round(result.T[0] * 100, 1)
        win_prob = np.round(result.T[1] * 100, 1)
        
        # Add current ball data to results
        ball_data = {
            'end_of_ball': i + 1,  # Ball number
            'runs_after_ball': row['runs_left'].values[0] - row['runs_left'].values[0] + row['total_runs_x'].values[0],  # Calculate runs after ball
            'wickets_in_ball': row['wickets'].values[0],  # Wickets left
            'lose': lose_prob[0],
            'win': win_prob[0]
        }
        
        results.append(ball_data)
    
    # Convert results to DataFrame
    result_df = pd.DataFrame(results)
    print(result_df)
    
    return result_df

# Example usage

In [160]:
temp_df, target = match_progression(delivery_df, 74, pipe)
if temp_df is not None:
    print(temp_df)

Match Columns: Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'match_id', 'total_runs_x', 'inning',
       'batting_team', 'bowling_team', 'over', 'ball', 'batter', 'bowler',
       'non_striker', 'batsman_runs', 'extra_runs', 'total_runs_y',
       'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind',
       'fielder', 'current_score', 'runs_left', 'valid_ball',
       'valid_ball_count', 'balls_left', 'wickets_left', 'crr', 'rrr'],
      dtype='object')
Warning: 'wickets' column is missing. Adding a default value.
Warning: Missing 'target_runs' or 'wickets_left' columns. Adding default values.
No data available for prediction. Exiting.

In [163]:
teams

['Royal Challengers Bengaluru',
 'Kolkata Knight Riders',
 'Gujarat Titans',
 'Lucknow Super Giants',
 'Delhi Capitals',
 'Mumbai Indians',
 'Rajasthan Royals',
 'Punjab Kings',
 'Chennai Super Kings',
 'Sunrisers Hyderabad']

In [166]:
delivery_df['city'].unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi', 'Abu Dhabi', nan,
       'Bengaluru', 'Indore', 'Dubai', 'Sharjah', 'Navi Mumbai',
       'Lucknow', 'Guwahati', 'Mohali'], dtype=object)

In [167]:
import pickle
pickle.dump(pipe, open('pipe.pkl','wb'))